@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    --clr-dark-1: #272B33;
    --clr-dark-2: #272B33;
    --clr-white: #ffffff;
    --clr-light-grey: #f5f5f5;
    --clr-grey: #9E9E9E;
    --clr-green: #55CC44;
    --clr-red: #D63D2E;
    --clr-orange: #FF9800;
    --clr-black: #222222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
